<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtensions"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="!(loc.ProductName)" Version="1.0.0.0" Manufacturer="VkMiet" UpgradeCode="{C248E4AB-FDC6-4A8A-ACB5-E25EDC75FE78}">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication LocalizationFile="./Ui/WixBUi_ru_ru.wxl"
                                              ThemeFile="./Ui/HyperlinkTheme.xml"
                                              LicenseUrl=""
                                              xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
                                              SuppressOptionsUI="yes"
                                              ShowFilesInUse="yes"/>
    </BootstrapperApplicationRef>
    <Chain>
      <PackageGroupRef Id="NetFx40ClientRedistFull"/>
      <MsiPackage SourceFile="..\Installer\bin\$(var.Configuration)\ru-RU\Installer.msi" DisplayInternalUI="yes"/>
    </Chain>
  </Bundle>
  <Fragment>
    <util:RegistrySearch
       Id="NETFRAMEWORK40FULLINSTALL"
       Variable="NETFRAMEWORK40FULLINSTALL"
       Root="HKLM"
       Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full"
       Value="Install"
       Result="exists" />

    <WixVariable Id="NetFx40ClientDetected" Value="NETFRAMEWORK40FULLINSTALL"/>

    <PackageGroup Id="NetFx40ClientRedistFull">
      <ExePackage
          InstallCommand="/norestart /ChainingPackage &quot;[WixBundleName]&quot;"
          RepairCommand="/norestart /repair /ChainingPackage &quot;[WixBundleName]&quot;"
          UninstallCommand="/uninstall /q /norestart /ChainingPackage &quot;[WixBundleName]&quot;"
          PerMachine="yes"
          DetectCondition="!(wix.NetFx40ClientDetected)"
          Id="NetFx40ClientRedist"
          Vital="yes"
          Permanent="yes"
          SourceFile=".\Redist\dotNetFx40_Full_x86_x64.exe"
          Compressed="yes"
          Name="redist\dotNetFx40_Full_x86_x64.exe">
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>
