<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--strings for communication-->
    <add key="MulticastIpAddress" value="239.0.0.0" />
    <add key="MulticastPort" value="60000" />
    <!--strings for voice streaming-->
    <add key="StreamMulticastRangeIp" value="225.0.0.0" />
    <add key="StreamMulticastPort" value="10000" />
    <!--look here https://msdn.microsoft.com/ru-ru/library/system.net.networkinformation.networkinterfacetype(v=vs.110).aspx-->
    <!--for getting local ip-->
    <add key="NetworkInterfaceType" value="Ethernet" />
    <add key="LocalPort" value="60000" />
    <!--end-->
    <add key="TTL" value="10" />
    <add key="DeltaForVolume" value="0.005" />
    <add key="DeltaForNoise" value="0.005" />
    <add key="BadFrequencyNoiseValue" value="0.005" />
    <add key="NoiseAmplifier" value="0.007" />
    <!--For Frequency comparer, fro example (1+-0.002 == 1) = true -->
    <add key="AcceptableRange" value="0.002" />
    <add key="PathToToneSource" value="../../Files/Sounds/ton.mp3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>